<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <title>Add Book</title>
</head>
<body>
    <form action="/add_book" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="publication_year">Publication Year:</label>
        <input type="text" id="publication_year" name="publication_year" required><br><br>

        <label for="author_id">Author:</label>
        <select id="author_id" name="author_id" required>
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Add Book">
    </form>
</body>
</html>
